# Part I. ETL Pipeline for Pre-Processing the Files

## PLEASE RUN THE FOLLOWING CODE FOR PRE-PROCESSING THE FILES

#### Import Python packages

In [20]:
# Import Python packages 
import pandas as pd
import cassandra
import re
import os
import glob
import numpy as np
import json
import csv

#### Creating list of filepaths to process original event csv data files

In [21]:
# checking current working directory
print(os.getcwd())

# Get current folder and subfolder event data
filepath = os.getcwd() + '/event_data'

# Creating a for loop to create a list of files and collect each filepath
for root, dirs, files in os.walk(filepath):
    
# Joining the file path and roots with the subdirectories using glob
    file_path_list = glob.glob(os.path.join(root,'*'))
    print(file_path_list[0:2])

/home/workspace
['/home/workspace/event_data/2018-11-27-events.csv', '/home/workspace/event_data/2018-11-04-events.csv']

#### Processing the files to create the data file csv that will be used for Apache Casssandra tables

In [22]:
# initiating an empty list of rows that will be generated from each file
full_data_rows_list = [] 
    
# for every filepath in the file path list 
for f in file_path_list:

# reading csv file 
    with open(f, 'r', encoding = 'utf8', newline='') as csvfile: 
        # creating a csv reader object 
        csvreader = csv.reader(csvfile) 
        next(csvreader)
        
 # extracting each data row one by one and append it to empty list        
        for line in csvreader:
            #print(line)
            full_data_rows_list.append(line) 
            
print(len(full_data_rows_list))
print(full_data_rows_list[2])

# creating a smaller event data csv file called event_datafile_full csv that will be used to insert data into the \
# Apache Cassandra tables
csv.register_dialect('myDialect', quoting=csv.QUOTE_ALL, skipinitialspace=True)

with open('event_datafile_new.csv', 'w', encoding = 'utf8', newline='') as f:
    writer = csv.writer(f, dialect='myDialect')
    writer.writerow(['artist','firstName','gender','itemInSession','lastName','length',\
                'level','location','sessionId','song','userId'])
    for row in full_data_rows_list:
        if (row[0] == ''):
            continue
        writer.writerow((row[0], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[12], row[13], row[16]))

8056
['Building 429', 'Logged In', 'Mohammad', 'M', '2', 'Rodriguez', '300.61669', 'paid', 'Sacramento--Roseville--Arden-Arcade, CA', 'PUT', 'NextSong', '1.54051E+12', '961', 'Majesty (LP Version)', '200', '1.54328E+12', '88']

In [23]:
# count the number of rows in csv file
with open('event_datafile_new.csv', 'r', encoding = 'utf8') as f:
    print(sum(1 for line in f))

6821

# Part II. Complete the Apache Cassandra coding portion of your project. 

## Now you are ready to work with the CSV file titled <font color=red>event_datafile_new.csv</font>, located within the Workspace directory.  The event_datafile_new.csv contains the following columns: 
- artist 
- firstName of user
- gender of user
- item number in session
- last name of user
- length of the song
- level (paid or free song)
- location of the user
- sessionId
- song title
- userId

The image below is a screenshot of what the denormalized data should appear like in the <font color=red>**event_datafile_new.csv**</font> after the code above is run:<br>

<img src="images/image_event_datafile_new.jpg">

## Begin writing your Apache Cassandra code in the cells below

#### Creating a Cluster

In [24]:
#Create a Cluster and Establish a connection 

from cassandra.cluster import Cluster
cluster = Cluster()

# To establish connection and begin executing queries, need a session
session = cluster.connect()

#### Create Keyspace

In [25]:
# Create a Keyspace 
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS sparkifydb
    WITH REPLICATION = 
    { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }"""
)

except Exception as e:
    print(e)

#### Set Keyspace

In [26]:
# Set KEYSPACE
try:
    session.set_keyspace('sparkifydb')
except Exception as e:
    print(e)

### Now we need to create tables to run the following queries. Remember, with Apache Cassandra you model the database tables on the queries you want to run.

## Create queries to ask the following three questions of the data

### 1. Give me the artist, song title and song's length in the music app history that was heard during  sessionId = 338, and itemInSession  = 4


### 2. Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182
    

### 3. Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

#### Query 1 Table, Insert and Select statements

In [27]:
##Query 1: Give me the artist, song title and song's length in the music app history that was heard during \
## sessionId = 338, and itemInSession = 4

##Drop Table for ease and efficiency when testing and resetting tables
drop_query = "DROP TABLE IF EXISTS song_data"
try:
    session.execute(drop_query)
except Exception as e:
    print(e)
    
#Create table song_data for Query 1
##The partition key and clustering column is set up with the query above in mind.
##With the primary key having a partition key and clustering column there is a better chance of a unique primary key\
#keeping in mind Cassandra doesn't allow for duplication
##Data will be partitioned for storage by session_id and sorted by item_in_session
create_query = "CREATE TABLE IF NOT EXISTS song_data"
create_query = create_query + "(session_id INT, item_in_session INT, artist TEXT, song_title TEXT, \
                                song_length FLOAT,  PRIMARY KEY (session_id, item_in_session))"
try:
    session.execute(create_query)
except Exception as e:
    print(e)

In [28]:
# Set up the csv file for inserting data into Cassandra tables
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
        ##Assigning the INSERT statements into the `query` variable
        query = "INSERT INTO song_data(session_id, item_in_session, artist, song_title, song_length)"
        query = query + "VALUES (%s, %s, %s, %s, %s)"
        ## Assigning column element for each column in the INSERT statement.
        session.execute(query, (int(line[8]), int(line[3]), line[0], line[9], float(line[5])))

#### SELECT statement to verify that the data has been inserted into each table

In [29]:
##SELECT statement to verify the data was entered into the table
select_query = "SELECT artist, song_title, song_length from song_data WHERE session_id = 338 AND item_in_session = 4 "
try:
    rows = session.execute(select_query)
except Exception as e:
    print(e)
    
for row in rows:
    print(f"Artist: {row.artist} \nSong: {row.song_title} \nLength: {row.song_length}")
#Data successfully added into the table

Artist: Faithless
Song: Music Matters (Mark Knight Dub)
Length: 495.30731201171875

#### Query 2 Table, Insert and Select statements

In [30]:
## Query 2: Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name)\
## for userid = 10, sessionid = 182

##Drop Table for ease and efficiency when testing and resetting tables
drop_query = "DROP TABLE IF EXISTS user_activity"
try:
    session.execute(drop_query)
except Exception as e:
    print(e)
    
#Create table song_data for Query 2
#The partition key(composite) is made up of both user_id and session_id while item_in_session is used for sorting
#Looking at the data this should not cause any distributed storage inefficiencies because the columns match up perfectly i.e every session_id has the same user_id
#The table structure is set for the query above
create_query = "CREATE TABLE IF NOT EXISTS user_activity"
create_query = create_query + "(user_id INT,session_id INT, item_in_session INT, artist TEXT, song_title TEXT, \
                                user_first_name TEXT, user_last_name TEXT,  PRIMARY KEY ((user_id, session_id), item_in_session))"
try:
    session.execute(create_query)
except Exception as e:
    print(e)

In [31]:
# Insert data into Table
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
        ## Assigning the INSERT statements into the `query` variable
        query = "INSERT INTO user_activity(user_id, session_id, item_in_session, artist, song_title, user_first_name, user_last_name)"
        query = query + "VALUES (%s, %s, %s, %s, %s, %s, %s)"
        ## Assigning column element for each column in the INSERT statement.
        session.execute(query, (int(line[10]),int(line[8]), int(line[3]), line[0], line[9], line[1], line[4]))

#### SELECT statement to verify that the Data for Query 2 has been inserted into the table

In [32]:
##SELECT statement to verify the data was entered into the table
select_query = "SELECT artist, song_title, user_first_name, user_last_name, item_in_session \
                from user_activity WHERE user_id = 10 AND session_id = 182 "
try:
    rows = session.execute(select_query)
except Exception as e:
    print(e)
    
for row in rows:
    print(f"Artist: {row.artist} | Song: {row.song_title} |User First Name: {row.user_first_name} | \nUser Last Name: {row.user_last_name}\
    |Item in Session: {row.item_in_session}")
#The result is ordered by Item in session

Artist: Down To The Bone | Song: Keep On Keepin' On |User First Name: Sylvie |
User Last Name: Cruz    |Item in Session: 0
Artist: Three Drives | Song: Greece 2000 |User First Name: Sylvie |
User Last Name: Cruz    |Item in Session: 1
Artist: Sebastien Tellier | Song: Kilometer |User First Name: Sylvie |
User Last Name: Cruz    |Item in Session: 2
Artist: Lonnie Gordon | Song: Catch You Baby (Steve Pitron & Max Sanna Radio Edit) |User First Name: Sylvie |
User Last Name: Cruz    |Item in Session: 3

#### Query 3 Table, Insert and Select statements

In [33]:
##Query 3: Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

##Drop Table for ease and efficiency when testing and resetting tables
drop_query = "DROP TABLE IF EXISTS song_listened_by"
try:
    session.execute(drop_query)
except Exception as e:
    print(e)
    
#Create table song_data for Query 3
#The partition key and clustering column is set up with the query above in mind.
create_query = "CREATE TABLE IF NOT EXISTS song_listened_by"
create_query = create_query + "(song_title TEXT,user_id INT, user_first_name TEXT, user_last_name TEXT, PRIMARY KEY (song_title, user_id))"
try:
    session.execute(create_query)
except Exception as e:
    print(e)

In [34]:
# Insert Data into Table
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
        ## Assigning the INSERT statements into the `query` variable
        query = "INSERT INTO song_listened_by(song_title, user_id, user_first_name, user_last_name)"
        query = query + "VALUES (%s, %s, %s, %s)"
        ## Assigning column element for each column in the INSERT statement.
        session.execute(query, (line[9], int(line[10]), line[1], line[4]))

#### SELECT statement to verify that the Data for Query 3 has been inserted into the table

In [35]:
##SELECT statement to verify the data was entered into the table
select_query = "SELECT user_first_name, user_last_name from song_listened_by WHERE song_title = 'All Hands Against His Own' "
try:
    rows = session.execute(select_query)
except Exception as e:
    print(e)
    
for row in rows:
    print(f"User Name: {row.user_first_name} {row.user_last_name}")
#Data successfully added into the table

User Name: Jacqueline Lynch
User Name: Tegan Levine
User Name: Sara Johnson

### Drop the tables before closing out the sessions

In [36]:
#Drop the table song_data before closing out the sessions
drop_query1 = "DROP TABLE IF EXISTS song_data"
try:
    session.execute(drop_query1)
except Exception as e:
    print(e)
#Drop the table user_activity    
drop_query2 = "DROP TABLE IF EXISTS user_activity"
try:
    session.execute(drop_query2)
except Exception as e:
    print(e)  
#Drop the table user_listens 
drop_query3 = "DROP TABLE IF EXISTS song_listened_by"
try:
    session.execute(drop_query3)
except Exception as e:
    print(e)

### Close the session and cluster connection¶

In [37]:
session.shutdown()
cluster.shutdown()

### References
###### 1: Multiple column partition key, Website: DataStax, URL:https://docs.datastax.com/en/dse/6.0/cql/cql/cql_using/useCompositePartitionKeyConcept.html