### Create Redshift Cluster for Sparkify Database

In [1]:
import pandas as pd
import boto3
import json
import configparser

#### Load DataWarehouse Params from file

In [2]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')

DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")

DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")
DWH_DB                 = config.get("DWH","DWH_DB")
DWH_DB_USER            = config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH","DWH_PORT")

DWH_IAM_ROLE_NAME      = config.get("DWH", "DWH_IAM_ROLE_NAME")

(DWH_DB_USER, DWH_DB_PASSWORD, DWH_DB)

pd.DataFrame({"Param":
                  ["DWH_CLUSTER_TYPE", "DWH_NUM_NODES", "DWH_NODE_TYPE", "DWH_CLUSTER_IDENTIFIER", "DWH_DB", "DWH_DB_USER", "DWH_DB_PASSWORD", "DWH_PORT", "DWH_IAM_ROLE_NAME"],
              "Value":
                  [DWH_CLUSTER_TYPE, DWH_NUM_NODES, DWH_NODE_TYPE, DWH_CLUSTER_IDENTIFIER, DWH_DB, DWH_DB_USER, DWH_DB_PASSWORD, DWH_PORT, DWH_IAM_ROLE_NAME]
             })

                    Param       Value
0        DWH_CLUSTER_TYPE  multi-node
1           DWH_NUM_NODES           4
2           DWH_NODE_TYPE   dc2.large
3  DWH_CLUSTER_IDENTIFIER  dwhCluster
4                  DWH_DB         dwh
5             DWH_DB_USER     dwhuser
6         DWH_DB_PASSWORD    Passw0rd
7                DWH_PORT        5439
8       DWH_IAM_ROLE_NAME     dwhRole

#### Create clients for IAM, EC2, S3 and Redshift

In [3]:
import boto3

ec2 = boto3.resource('ec2',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                    )

s3 = boto3.resource('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )

iam = boto3.client('iam',aws_access_key_id=KEY,
                     aws_secret_access_key=SECRET,
                     region_name='us-west-2'
                  )

redshift = boto3.client('redshift',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                       )

#### Create an IAM Role

In [4]:
from botocore.exceptions import ClientError

#Create the role, 
try:
    print("1.1 Creating a new IAM Role") 
    dwhRole = iam.create_role(
        Path='/',
        RoleName=DWH_IAM_ROLE_NAME,
        Description = "Allows Redshift clusters to call AWS services on your behalf.",
        AssumeRolePolicyDocument=json.dumps(
            {'Statement': [{'Action': 'sts:AssumeRole',
               'Effect': 'Allow',
               'Principal': {'Service': 'redshift.amazonaws.com'}}],
             'Version': '2012-10-17'})
    )    
except Exception as e:
    print(e)
    
    
print("1.2 Attaching Policy")

1.1 Creating a new IAM Role
1.2 Attaching Policy

In [5]:
iam.attach_role_policy(RoleName=DWH_IAM_ROLE_NAME,
                       PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
                      )['ResponseMetadata']['HTTPStatusCode']

print("1.3 Get the IAM role ARN")
roleArn = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']

print(roleArn)

1.3 Get the IAM role ARN
arn:aws:iam::366255851310:role/dwhRole

#### Create a Redshift Cluster

In [6]:
try:
    response = redshift.create_cluster(        
        #HW
        ClusterType=DWH_CLUSTER_TYPE,
        NodeType=DWH_NODE_TYPE,
        NumberOfNodes=int(DWH_NUM_NODES),

        #Identifiers & Credentials
        DBName=DWH_DB,
        ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
        MasterUsername=DWH_DB_USER,
        MasterUserPassword=DWH_DB_PASSWORD,
        
        #Roles (for s3 access)
        IamRoles=[roleArn]  
    )
except Exception as e:
    print(e)

#### Confirm cluster is available

In [8]:
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,dwhcluster
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,dwhuser
4,DBName,dwh
5,Endpoint,"{'Address': 'dwhcluster.cjvrl59wfczu.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-232e0c5b
7,NumberOfNodes,4

#### Display Cluster Endoint and ARN

In [9]:
DWH_ENDPOINT = myClusterProps['Endpoint']['Address']
DWH_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']
print("DWH_ENDPOINT :: ", DWH_ENDPOINT)
print("DWH_ROLE_ARN :: ", roleArn)

DWH_ENDPOINT ::  dwhcluster.cjvrl59wfczu.us-west-2.redshift.amazonaws.com
DWH_ROLE_ARN ::  arn:aws:iam::366255851310:role/dwhRole

### Open an incoming TCP port to access cluster endpoint

In [10]:
try:
    vpc = ec2.Vpc(id=myClusterProps['VpcId'])
    defaultSg = list(vpc.security_groups.all())[1]
    print(defaultSg)
    defaultSg.authorize_ingress(
        GroupName=defaultSg.group_name,
        CidrIp='0.0.0.0/0',
        IpProtocol='TCP',
        FromPort=int(DWH_PORT),
        ToPort=int(DWH_PORT)
    )
except Exception as e:
    print(e)

ec2.SecurityGroup(id='sg-0be3d831')
An error occurred (InvalidPermission.Duplicate) when calling the AuthorizeSecurityGroupIngress operation: the specified rule "peer: 0.0.0.0/0, TCP, from port: 5439, to port: 5439, ALLOW" already exists

#### Preview log file in S3 bucket

In [11]:
sparkifyBucket =  s3.Bucket("udacity-dend")
for obj in sparkifyBucket.objects.filter(Prefix="log-data"):
    print(obj) ## Both files have a common prefix

s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-01-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-02-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-03-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-04-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-05-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-06-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-07-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-08-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-09-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-10-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-11-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-12-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-13-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-14-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-15-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-16-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-17-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-18-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-19-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-20-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-21-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-22-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-23-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-24-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-25-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-26-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-27-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-28-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-29-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log-data/2018/11/2018-11-30-events.json')

In [15]:
#Warning: Printing this line will result in too large of an output 
#for obj in sparkifyBucket.objects.filter(Prefix="song-data"):
    #print(obj)

 #### Connect to a Redshift Cluster

In [14]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [13]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cjvrl59wfczu.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

#### Test queries to make sure data warehouse is running correctly

In [15]:
%%sql
SELECT fs.level, ds.title, ds.year, fs.start_time, du.first_name, du.last_name
FROM factSongplays fs
JOIN dimSongs ds ON (fs.song_id = ds.song_id)
JOIN dimUsers du ON (fs.user_id = du.user_id)
ORDER BY ds.year DESC
LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cjvrl59wfczu.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('paid', 'The Moon Asked The Crow', 2010, datetime.datetime(2018, 11, 29, 17, 1, 34), 'Chloe', 'Cuevas'),
 ('paid', "Hey Daddy (Daddy's Home)", 2010, datetime.datetime(2018, 11, 5, 18, 13, 57), 'Jacob', 'Klein'),
 ('paid', 'Punk Rock Girl', 2010, datetime.datetime(2018, 11, 20, 8, 5, 30), 'Lily', 'Koch'),
 ('paid', 'Drunk Girls', 2010, datetime.datetime(2018, 11, 9, 19, 34, 24), 'Tegan', 'Levine'),
 ('paid', "Hey Daddy (Daddy's Home)", 2010, datetime.datetime(2018, 11, 5, 17, 31, 11), 'Jacob', 'Klein')]

In [16]:
%%sql
SELECT *
FROM dimTime
LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cjvrl59wfczu.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(2018, 11, 1, 21, 8, 16), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 2, 9, 42, 23), 9, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 9, 57, 56), 9, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 10, 42, 22), 10, 2, 44, 11, 2018, 5),
 (datetime.datetime(2018, 11, 2, 10, 59, 19), 10, 2, 44, 11, 2018, 5)]

In [17]:
nEvents = %sql select count(*) from staging_events;
nStaged_songs = %sql select count(*) from staging_songs;
nSongplays = %sql select count(*) from factSongplays;
nUsers = %sql select count(*) from dimUsers;
nSongs = %sql select count(*) from dimSongs;
nArtists = %sql select count(*) from dimArtists;
nTime = %sql select count(*) from dimTime;

print("nEvents\t\t=", nEvents[0][0])
print("nStaged_songs\t=", nStaged_songs[0][0])
print("nSongplays\t=", nSongplays[0][0])
print("nUsers\t=", nUsers[0][0])
print("nSongs\t\t=", nSongs[0][0])
print("nArtists\t\t=", nArtists[0][0])
print("nTime\t\t=", nTime[0][0])

 * postgresql://dwhuser:***@dwhcluster.cjvrl59wfczu.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
 * postgresql://dwhuser:***@dwhcluster.cjvrl59wfczu.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
 * postgresql://dwhuser:***@dwhcluster.cjvrl59wfczu.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
 * postgresql://dwhuser:***@dwhcluster.cjvrl59wfczu.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
 * postgresql://dwhuser:***@dwhcluster.cjvrl59wfczu.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
 * postgresql://dwhuser:***@dwhcluster.cjvrl59wfczu.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
 * postgresql://dwhuser:***@dwhcluster.cjvrl59wfczu.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
nEvents		= 8056
nStaged_songs	= 14896
nSongplays	= 333
nUsers	= 104
nSongs		= 14896
nArtists		= 10025
nTime		= 6813

#### Clean up Resources

In [55]:
#-- Uncomment & run to delete the created resources
redshift.delete_cluster( ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,  SkipFinalClusterSnapshot=True)
#### CAREFUL!!

In [53]:
myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)#run until cluster is deleted

In [54]:
#### CAREFUL!!
#-- Uncomment & run to delete the created resources
iam.detach_role_policy(RoleName=DWH_IAM_ROLE_NAME, PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess")
iam.delete_role(RoleName=DWH_IAM_ROLE_NAME)
#### CAREFUL!!

{'ResponseMetadata': {'RequestId': '1c55afd3-1689-4d9a-b7ab-920817f2cbb1',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': '1c55afd3-1689-4d9a-b7ab-920817f2cbb1',
   'content-type': 'text/xml',
   'content-length': '200',
   'date': 'Sat, 10 Apr 2021 19:59:56 GMT'},
  'RetryAttempts': 0}}

## END